<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="toEmail" value="toAddress@domain.com"></add>
    <add key="fromEmail" value="fromAddress@domain.com"></add>
    <add key="emailUser" value="userID"></add>
    <add key="emailPassword" value="password"></add>
    <add key ="smtpHost" value="email-hostname-goes-here"></add>
  </appSettings>
 
  
</configuration>